{% extends "/layouts/layout.html" %} {% block body %}

<main id="about">
	<div class="relative">
		<div class="absolute inset-x-0 bottom-0 h-1/2 bg-white"></div>
		<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
			<div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
				<div class="absolute inset-0">
					<picture>
						<source media="(min-width: 1024px)" srcset="" />
						<img
							class="h-full w-full object-cover"
							src="assets/imgs/uvodni-foto-mob.jpg"
							alt="Tiskárna zaplatílek, úvodní obrázek"
						/>
					</picture>
				</div>
				<div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
					<h1
						class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl"
					>
						<span class="block text-gray-1000">TISKÁRNA ZAPLATÍLEK</span>
						<span class="block text-gray-1000 text-2xl mt-5"
							>Ofsetový a digitální tisk, knihařské zpracování, grafické
							studio</span
						>
					</h1>
					<p
						class="mt-6 max-w-lg mx-auto text-center text-xl text-gray-1000 sm:max-w-3xl"
					>
						Pomůžeme Vám s grafickou přípravou. Digitální tisk zajišťuje nízké
						ceny při malých nákladech. Ofsetový tisk s tradicí od roku 1990.
						Díky vlastní dopravě poskytujeme velmi rychlé dodání.
					</p>
					<div
						class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center"
					>
						<div class="space-y-4">
							<a
								href="#"
								class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8"
							>
								Nezávislá poptávka
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div
			class="max-w-7xl mx-auto pt-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24"
		>
			<div class="space-y-12">
				<div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
					<h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
						O nás
					</h2>
					<p class="text-xl text-gray-500 text-justify">
						Tiskárna Zaplatílek je rodinná firma založená v roce 1990. Tradice v
						kombinaci s moderním polygrafickým provozem nabízí našim zákazníkům
						kompletní výrobu tiskovin „pod jednou střechou“. Díky tomu můžeme
						reagovat krátkými dodacími termíny při zachování vysoké kvality
						zpracování. V našich možnostech je výroba i příprava veškerých
						tiskových materiálů na papír od vizitek, kalendářů, letáků,
						katalogů, brožur až po knihy. V roce 2020 jsme rozšířili výrobu o
						lehkou kartonáž - výroba krabiček. Podle individuálních požadavků na
						zakázku vybíráme technologii výroby tak, aby kvalita a cena
						odpovídala představám našich zákazníků.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="relative bg-white py-16 sm:py-24 lg:py-32">
		<div
			class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl"
		>
			<p
				class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl"
			>
				Technologie
			</p>
			<p class="mt-5 max-w-prose mx-auto text-xl text-gray-500"></p>
			<div class="mt-12">
				<div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_6e31ab373cac4a449d9de150db44f1ae~mv2.jpg/v1/crop/x_452,y_0,w_3839,h_3838/fill/w_170,h_170,al_c,q_80,usm_0.66_1.00_0.01/performa%2074.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Ofsetový tistk
								</h3>
								<p class="mt-5 text-base text-gray-500">
									Cenově výhodný pro větší náklady. Nejlepší kvalita tisku.
								</p>
							</div>
						</div>
					</div>
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_536ff30c45aa4cba84259377bb4fe776~mv2.jpg/v1/crop/x_1450,y_529,w_2314,h_2313/fill/w_170,h_170,al_c,q_80,usm_0.66_1.00_0.01/DSCN0084_X.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Digitální tisk
								</h3>
								<p class="mt-5 text-base text-gray-500">
									Cenově výhodný od 1 kusu. Blesková rychlost.
								</p>
							</div>
						</div>
					</div>
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_64c9386557e341cda656f7620819b90b~mv2.jpg/v1/crop/x_971,y_0,w_3839,h_3838/fill/w_166,h_166,al_c,q_80,usm_0.66_1.00_0.01/MBO%20%2B%20Palamides.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Knihárna
								</h3>
								<p class="mt-5 text-base text-gray-500">
									Řezání, balení, lepení bloků,vazba V1, V2, kroužková,
									knižní,...
								</p>
							</div>
						</div>
					</div>
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_5fd23a0f66a8470ca25a166291a92f04~mv2.jpg/v1/crop/x_1400,y_0,w_3840,h_3840/fill/w_170,h_170,al_c,q_80,usm_0.66_1.00_0.01/_MG_1995.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Grafické studio
								</h3>
								<p class="mt-5 text-base text-gray-500">
									Pomůžeme Vám vytvořit vizitky, letáky, plakáty, časopis,
									knihu,...
								</p>
							</div>
						</div>
					</div>
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_389bad5f185e4741bcf9ce56aa049886~mv2.jpg/v1/crop/x_960,y_0,w_3838,h_3838/fill/w_170,h_170,al_c,q_80,usm_0.66_1.00_0.01/_MG_1971_HDR.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Lepení krabiček
								</h3>
								<p class="mt-5 text-base text-gray-500">
									V roce 2020 jsme naši technologii rozšířili o lepičku
									krabiček.
								</p>
							</div>
						</div>
					</div>
					<div class="pt-6">
						<div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
							<div class="-mt-6">
								<div>
									<img
										class="inline-block h-40 w-40 rounded-full"
										src="https://static.wixstatic.com/media/f95091_64c9386557e341cda656f7620819b90b~mv2.jpg/v1/crop/x_960,y_0,w_3838,h_3838/fill/w_170,h_170,al_c,q_80,usm_0.66_1.00_0.01/MBO%20%2B%20Palamides.webp"
										alt=""
									/>
								</div>
								<h3
									class="mt-8 text-lg font-medium text-gray-900 tracking-tight"
								>
									Doprava
								</h3>
								<p class="mt-5 text-base text-gray-500">
									Zakázku Vám doručíme vlastní dopravou, abychom zajistili co
									nejrychlejší doručení.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="relative bg-white py-16 sm:py-24 lg:py-32">
		<div
			class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl"
		>
			<p
				class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl"
			>
				Galerie
			</p>
			tady neco vymyslime sami.
		</div>
	</div>
	<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
		<div class="relative max-w-xl mx-auto">
			<div class="text-center">
				<h2
					class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
				>
					Nezávazná poptávka
				</h2>
			</div>
			<div class="mt-12">
				{{ include ('/form.html') }}
			</div>
		</div>
	</div>
</main>

{% endblock %}
