{% block title %}| Reference{% endblock %} {% extends "/layouts/layout.html" %}
{% block body %}

<div class="max-w-7xl mx-auto pt-12 px-4 text-center sm:px-6 lg:px-8">
	<div>
		<div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
			<h2
				class="text-3xl font-extrabold tracking-tight sm:text-4xl text-gray-900 word-line"
			>
				Reference
			</h2>
		</div>
		<div class="flex flex-col items-center content-center mt-8">
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/1.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/2.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/4.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/5.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/6.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/7.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/8.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/9.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/10.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/11.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/12.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/13.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/14.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/15.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/16.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/17.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/18.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/19.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/20.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/21.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/22.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/23.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/24.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/25.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div class="flex flex-row flex-wrap justify-center">
				<img
					src="assets/imgs/reference/26.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/27.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/28.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
				<img
					src="assets/imgs/reference/29.jpg"
					class="w-1/3 lg:w-1/6 m-4 object-scale-down"
					loading="lazy"
				/>
			</div>
			<div>
				<p class="text-2xl mt-8 font-semibold">
					Tiskárna Zaplatílek je hrdým partnerem
					<a
						class="underline"
						href="https://www.divadlonajezerce.cz/"
						target="_blank"
						>Divadla Na Jezerce</a
					>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
