@font-face {
	font-family: wixFont;
	src: url('/tiskarna-zaplatilek/assets/fonts/DINPro-Regular.otf')
		format('truetype');
}

@font-face {
	font-family: wixFont-Bold;
	src: url('/tiskarna-zaplatilek/assets/fonts/DINPro-Bold.otf')
		format('truetype');
}

html {
	font-family: wixFont !important;
}

h1 {
	font-family: wixFont-Bold !important;
}

//mobile navbar
nav#mobile-nav.active {
	max-height: 150px;
}

.word-line {
	overflow: hidden;
	&::before,
	&::after {
		background-color: #000;
		content: '';
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}
	&::before {
		right: 0.5em;
		margin-left: -50%;
	}
	&::after {
		left: 0.5em;
		margin-right: -50%;
	}
}
