<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Popis webu. DOPLNIT" />
		<link
			rel="shortcut icon"
			href="assets/icons/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="assets/css/tailwind.css" type="text/css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
			integrity="sha512-kwJUhJJaTDzGp6VTPBbMQWBFUof6+pv0SM3s8fo+E6XnPmVmtfwENK0vHYup3tsYnqHgRDoBDTJWoq7rnQw2+g=="
			crossorigin="anonymous"
		/>
		<title>Tiskárna Zaplatílek {% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<div class="relative bg-gray-900 lg:bg-transparent">
				<div
					class="flex justify-between lg:justify-end items-center max-w-7xl lg:max-w-5xl mx-auto px-4 py-2 lg:py-8 sm:px-6 lg:space-x-10 lg:px-0"
				>
					<div class="-mr-2 -my-2 lg:hidden w-full">
						<div class="flex justify-end">
							<button
								id="hamburger"
								type="button"
								class="bg-transparent rounded-md p-2 inline-flex items-center justify-center text-white"
							>
								<span class="sr-only">Open menu</span>
								<svg
									class="h-8 w-8"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
									aria-hidden="true"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M4 6h16M4 12h16M4 18h16"
									/>
								</svg>
							</button>
						</div>
						<nav
							class="flex w-full -ml-4 md:-ml-6 bg-gray-900 absolute z-10 max-h-0 overflow-hidden transition-max-height duration-500 lg:hidden"
							id="mobile-nav"
						>
							<div class="flex flex-col divide-y w-full">
								<a href="/" class="text-2xl font-medium text-white pl-2 py-1">
									Domů
								</a>
								<a
									href="/reference"
									class="text-2xl font-medium text-white pl-2 py-1"
								>
									Reference
								</a>
								<a
									href="/kontakty"
									class="text-2xl font-medium text-white pl-2 py-1"
								>
									Kontakty
								</a>
							</div>
						</nav>
					</div>
					<nav class="hidden lg:flex space-x-10">
						<div class="relative">
							<a
								href="/"
								class="text-lg text-gray-500 hover:text-gray-900 mx-2"
							>
								Domů
							</a>
							<a
								href="/reference"
								class="text-lg text-gray-500 hover:text-gray-900 mx-2"
							>
								Reference
							</a>
							<a
								href="/kontakty"
								class="text-lg text-gray-500 hover:text-gray-900 mx-2 lg:mx-0 lg:ml-2"
							>
								Kontakty
							</a>
						</div>
					</nav>
				</div>
			</div>
		</header>

		{% block body %} {% endblock %}

		<footer>
			<div class="bg-white">
				<div class="max-w-7xl mx-auto p-4 sm:px-6 lg:pt-32 lg:pb-8 lg:px-8">
					<div class="divide-y-2 divide-gray-200">
						<div class="lg:grid lg:grid-cols-3 lg:gap-8">
							<div class="lg:col-span-1"></div>
							<div
								class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 sm:gap-x-8 sm:gap-y-12 lg:mt-0 "
							>
								<div>
									<h3 class="text-lg leading-6 font-medium text-gray-900">
										Kontakt
									</h3>
									<div class="flex flex-row">
										<dl class="mt-2 text-base text-gray-500 w-2/3">
											<div>
												<dt class="sr-only">
													Email
												</dt>
												<dd>
													Vesec 66, 511 01 Turnov
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">
													E-mail
												</dt>
												<dd>
													info@zaplatilek.cz
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">
													ICO
												</dt>
												<dd>
													IČO: 72936274
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">
													DIC
												</dt>
												<dd>
													DIČ: CZ5703051310
												</dd>
											</div>
											<div class="mt-1 underline">
												<dt class="sr-only">
													Map
												</dt>
												<dd>
													<a
														href="https://goo.gl/maps/bLrmgHDNschFS8zT6"
														target="_blank"
														rel="noopener noreferrer"
														>Mapa</a
													>
												</dd>
											</div>
										</dl>
										<dl
											class="mt-2 text-base lg:text-right text-gray-500 w-1/3"
										>
											<div>
												<dt class="sr-only">
													Home
												</dt>
												<dd>
													<a href="/">Domů</a>
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">
													Refence
												</dt>
												<dd>
													<a href="/reference">Reference</a>
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">
													Contact
												</dt>
												<dd>
													<a href="/kontakty">Kontakty</a>
												</dd>
											</div>
											<div class="mt-1 lg:flex lg:justify-end">
												<dt class="sr-only">
													Contact
												</dt>
												<dd>
													<a
														href="https://www.facebook.com/tiskarnazaplatilek"
														target="_blank"
														rel="noopener noreferrer"
													>
														<img
															class="h-10 w-10"
															src="assets/icons/facebook-circular-logo.svg"
															alt=""
														/>
													</a>
												</dd>
											</div>
										</dl>
									</div>
								</div>
								<div>
									<img
										class="w-full h-full"
										src="assets/imgs/logo_mob.jpg"
										alt=""
										loading="lazy"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"
			integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ=="
			crossorigin="anonymous"
		></script>
		<script>
			lightGallery(document.getElementById('lightgallery'), {
				selector: '.photo',
			});
		</script>
		<script defer src="assets/js/app.js"></script>
	</body>
</html>
