<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Popis webu. DOPLNIT" />
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="assets/css/tailwind.css" type="text/css" />
		<title>XYLOPHONE FRAMEWORK</title>
	</head>
	<body>
		<div>header</div>

		{% block body %} {% endblock %}

		<div>footer</div>
		<script defer src="assets/js/app.js"></script>
	</body>
</html>
